<!doctype html>
<html>
<head>
  <title>Sassulator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
  <header>
      <h1>Sassulator is a visualized calculator for Sass functions.</h1>
  </header>
  <div id="content-main">
      <section id="visualization" class="container">
          <h3 class="result"></h3>

          <div class="before"></div>
          <div class="after"></div>
      </section>

      <section id="input" class="container">
          <form action="/" method="POST">
            <input type="text" name="code">
            <input type="submit" value="Submit">
          </form>
      </section>

      <section id="about" class="container">
          <h2><a href="http://www.sass-lang.com"></a></h2>
      </section>
  </div>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
    $("form").submit(function(e) {
      e.preventDefault() // Stop form from submitting
      
      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: $(this).serialize(),
        dataType: "json",
        success: function(data, text, xhr) {
          console.log(data)
          $(".result").html(data.output)
          $(".before").css("background-color", data.original_color)
          $(".after").css("background-color", data.output)
        }
      })
    })
  </script>
</body>
</html>