<!doctype html>
<html>
<head>
  <title>Sassulator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
<div id="page">
    <header id="header">

        <aside id="start">
            <code>gem install bundler</code>
            <br />
            <code>git clone git://github.com/chasewoodford/Sassulator</code>
            <br />
            <code>bundle install</code>
            <br />
            <code>ruby web.rb</code>
            <br />
            Open <a href="http://localhost:4567" target="_blank">http://localhost:4567</a>
        </aside>

        <nav id="nav">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#useCase">When Would I Ever Use This?</a></li>
                <li><a href="#resources">Other Resources</a></li>
                <li><a href="https://github.com/chasewoodford/Sassulator">Github</a></li>
            </ul>
        </nav>

    </header>
    <div id="content-main">
        <section id="visualization" class="container">
            <div class="before"></div>
            <div class="after"></div>
            <section id="input" class="container">
                <form action="/" method="POST">
                    <input type="text" name="code">
                    <input type="submit" value="Submit">
                </form>
            </section>
            <h3 class="hex-before"></h3>
            <h3 class="hex-after"></h3>
        </section>
    </div>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
    $("form").submit(function(e) {
      e.preventDefault() // Stop form from submitting
      
      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: $(this).serialize(),
        dataType: "json",
        success: function(data, text, xhr) {
          console.log(data)
          $(".hex-before").html(data.original_color)
          $(".hex-after").html(data.output)
          $(".before").css("background-color", data.original_color)
          $(".after").css("background-color", data.output)
        }
      })
    })
  </script>
</body>
</html>