// variables
$color-background: rgba(255, 255, 255, 1);
$color-sassPurple: rgba(206, 77, 214, 1);
$color-sassPurple-lighter: lighten($color-sassPurple,20%);
$color-sassPurple-lightest: lighten($color-sassPurple,60%);

/* original design and CSS by Lukas Dryja (http://www.lukasdryja.com), stolen from sass-lang.com */
#header {
  height: 250px;
  width: 795px;
  margin: 0 auto 60px;
  position: relative;
}

#header h1 {
  float: left;
  margin: 40px 0 0 -50px;
  text-indent: -9999px;
}

#header h1 a {
  display: block;
  width: 217px;
  height: 238px;
  background: url(http://www.sass-lang.com/images/sass.gif) no-repeat;
}

#header #start {
  left: 300px;
  position: absolute;
  background-color: #f8f8ff;
  padding: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #b1ad9b;
  border-top-style: none;
  border-bottom-width: 5px;
  border-bottom-color: #ce4dd6;
}

#header #start code:before {
  content: "$ ";
  font-weight: bold;
}

#header #nav {
  position: relative;
  top: 160px;
  margin-left: 200px;
  padding: 11px 0;
  border-bottom: 1px dashed #b1ad9b;
}

#header #nav ul {
  padding: 5px 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
}

#header #nav ul li {
  padding: 6px 15px;
  margin: 0 7.5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font: 14px Georgia, Garamond, Times, "Times New Roman", serif;
  border: 1px solid #cacaca;
  border-bottom: 3px solid #ce4dd6;
}

#header #nav ul li {
  *display: inline;
}

#header #nav ul li a {
  text-decoration: none;
  color: #331335;
}

#header #nav ul li a:hover {
  color: #ce4dd6;
}

#header #latest {
  position: relative;
  text-align: center;
  top: 170px;
  margin-left: 200px;
  color: #888888;
}

#header #latest h2 {
  color: #555555;
  font-size: 1.4em;
  font-weight: bold;
  display: inline;
}

#header #latest .version {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 5, /var/www/sass-pages/src/stylesheets/_try.sass */
#try textarea {
  margin-left: 3%;
  height: 30em;
  width: 460px;
}
/* line 10, /var/www/sass-pages/src/stylesheets/_try.sass */
#try .result {
  width: 90%;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: #eeeeee;
  overflow: auto;
}
/* line 21, /var/www/sass-pages/src/stylesheets/_try.sass */
#try textarea, #try .result {
  border: 2px inset;
  font-size: 12px;
  line-height: 15px;
  float: left;
}
/* line 27, /var/www/sass-pages/src/stylesheets/_try.sass */
#try input.render {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  float: left;
  clear: both;
  display: block;
  margin: 2em auto;
}
/* line 7, /home/nex3/.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#try input.render {
  *display: inline;
}
/* line 75, /home/nex3/.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#try input.render img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 95, /home/nex3/.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#try input.render[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 98, /home/nex3/.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html #try input.render[type] {
  padding: 4px 10px 3px 7px;
}
/* line 34, /var/www/sass-pages/src/stylesheets/_try.sass */
#try input.radio, #try label {
  float: left;
  display: block;
  margin-top: 2em;
}
/* line 39, /var/www/sass-pages/src/stylesheets/_try.sass */
#try input.radio {
  margin-left: 3em;
  position: relative;
  top: 3px;
  right: 3px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  background: white;
  color: #090909;
  height: 100%;
  font: 13px/21px Georgia, Garamond, Times, "Times New Roman", serif;
  border-top: 2px solid #ce4dd6;
}

a {
  text-decoration: underline;
  outline: none;
  color: #ce4dd6;
}

a:hover {
  color: #ffb3ff;
}

p {
  margin-bottom: 18px;
}

#page {
  margin: 0 auto;
  padding: 0 30px;
  width: 795px;
}

a img {
  border: none;
}

.clear {
  clear: both;
}

h2 {
  padding-top: 15px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  padding-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

#main {
  margin: 0 auto;
  position: relative;
  clear: both;
  padding-top: 40px;
}

#main:after {
  clear: both;
  display: block;
  content: "";
}

#footer {
  padding-top: 10px;
  font-style: italic;
  font-size: 9px;
  clear: both;
  text-align: center;
}

ul {
  margin-bottom: 1em;
}

// mixins
// gist: 1319313
//@mixin gradient($from, $to) {
//  background-color: $from;
//  background-image: -moz-linear-gradient($from, $to);
//  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
//  background-image: -webkit-linear-gradient($from, $to);
//  background-image: -o-linear-gradient($from, $to);
//}
//
//header {
//  height: 10px;
//  width: 100%;
//  margin-bottom: 20px;
//  background-color: transparent;
//  background-repeat: repeat-x;
//  @include gradient($color-sassPurple-lighter, $color-sassPurple);
//  & h1 {
//    width: 0;
//    height: 0;
//    overflow: hidden;
//  }
//}

#content-main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: left;
}

.container {
  width: 100%;
  margin: 20px auto;
}

#about {
  @extend container;
  float: left;
}

.summary {
  float: left;
  width: 100%;
  padding-top: 20px;
  border-top: 1px dashed #B1AD9B;
  text-align: left;
}

.before,
.after {
  display: inline-block;
  border: 2px solid $color-sassPurple-lighter;
  height: 300px;
  width: 45%;
  margin: 0 2%; //  lr-10px
  border-radius: 40px;
  box-shadow: 3px 4px 5px rgba(32, 32, 32, 0.6);
}